<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addUser" method="post">
        <label for="username">User_name</label>
          <input type="text" name="name" id="username"><br>
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email"><br>
          <label for="pwd">Password</label>
          <input type="password" name="password" id="pwd"><br>
          <button>Submit</button>
      </form>
      <button><a href="/showUser">List of Users</a></button>
      <button><a href="/usersFolders">List of Folders</a></button>
</body>
</html>